*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-height: 100vh;
    font-family: 'Lato', sans-serif;
    
    
}

.wrapper{
    width: 900px ;
    height: 500px;
    margin:5rem auto;
    display: flex;
}
    

.left_chat{
    width: 350px;
    border: .3px solid lightgray
}
    


.main_chat{
    width: 550px;
    height: 100%;
    background-image: url('./img/mine.jpg');
    display: flex;
    flex-direction: column;
    
}

.main_chat_box{
    
    flex-grow: 4;
}


    
    
    

.left_header, .right_header{
height:50px;
background-color: #EAEAEA;



}

.left_header{
    border-right: 1px solid grey;
}

.input_chat_box{
    height: 50px;
    background-color: #F3EEEA ;
    
}

.notification_banner{
    background-color: #8EDAFC ;
    height: 50px;
}

.notification_banner div{
    padding: .5rem;
    font-size: .9rem;

}

.notification_banner .fa-solid{
    color: #8EDAFC;
    background-color: #FFFFFF;
    border-radius: 50%;

}

.notification_banner a{
    color: grey;
    font-size: .8rem;
}

.search_contact {
    padding: .5rem;
}




    
    

.contacts_list ul{
    list-style: none;
}

.contact{
    padding: 0.3rem;
    border-bottom: .3px solid lightgray;
    
}

.sidebar_imgs{
    width: 10%;
    border-radius: 50%;
    padding-left: 0.3rem;
    
}

.contact p{
    padding-left: 0.5rem;
}

.received_message{
    padding: .5rem;
    background-color: #FFFFFF;
    width: 30%;
    clear: both;
    border-radius: .5rem;
    margin-top: 4.5rem;
    margin-left: 3rem;
    
    
}
    

.sent_message{
    background-color: #D5F9BA ;
    padding: 0.5rem;
    width: 30%;
    border-radius: .5rem;
    clear: both;
    float: right;
    margin-top: 1rem;
    margin-right: 3rem;

    

}
.input_chat_box input{
    padding: .4rem;
    
}

.fa-solid{
    padding: .5rem;
}

/* UTILITIES */

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}





/* COLORS */
/* header(s): #EAEAEA;
footer(input-text): #F3EEEA
attiva-notifiche: #8EDAFC
sent-message: #D5F9BA 
recived-message: #FFFFFF*/